html
{
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #606060;
    font-weight: 500;
}
a
{
    text-decoration: none;
    list-style: none;
}
li
{
    list-style: none;
}
.extra h2, .servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
i{
    color: red;
}
body
{
    background: rgb(34,193,195);
    background: linear-gradient(360deg, rgba(34,193,195,1) 31%, rgba(24,223,41,1) 67%, rgba(22,230,4,1) 83%);
}
/********************************** Start **********************************************/
.header
{
    width: 100%;
    height: 100vh;
    background-color: #1CB5E0;
    background: linear-gradient(0deg, #000046 35%, #7F00FF 100%);
    background-size: 100% 100%;
    position: relative;
}
#menu, ul li:hover
{
    border-top: 2px solid #0f9b0f;
    border-bottom: 2px solid #000046;
}
.lo span
{
    font-size: 30px;
    font-weight: 900;
    font-style: oblique;
}
.logo
{
    color: white;
    font-weight: 900;
}
.nav-item a
{
    color: white!important;
}
.header-section
{
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
}
.navbar-toggler-icon
{
    border: 2px solid black;
    border-radius: 50px;
}
.center-div
{
    position: absolute;
    left: 40%;
    transform: translate(0%, 190%);
    text-align: center;
}
.center-div p
{
    font-size: 30px;
    font-weight: 900;
    color: #FF8235;
    margin-bottom: 10px;
}
/******************************* header div **************************/
.header-sec .extra
{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;

}
.extra
{
    background: linear-gradient(160deg, #12c2e9, #c471ed, #f64f59);
    color: black;
    border: 2px solid goldenrod;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}
.extra:hover
{
    box-shadow: 0 0 30px 5px red;
    transform: translateY(-35px);
    border-radius: 20px;
    border: 3px solid dotted black;
    color: blue;
    font-weight: 200;
}
/**************************************** offer section start */
.serviceoffers
{

    background: linear-gradient(130deg,#43C6AC 20%,#F8FFAE 55% );
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings
{
    margin-bottom: 50px;
}
.headings h1
{
    font-size: 50px;
    font-weight: 600;
}
.names h1
{
    color: #2e2e2e;
    font-weight: bold;
    text-transform: uppercase;

}
.service-icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFD200;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    transition: 0.3s linear;

}
.service-icons i
{
    font-size: 55px;
}
.service-icons:hover
{
    background: #ffffff;
    color: #00c3ff;
    border: 3px solid #ffffff;
    border-radius: 50px;
    box-shadow: 0 0  30px 15px #6f0000;
}
/*************************************************************** PRICING ************/
.ccc
{
    color: rebeccapurple;
}
.pricing
{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before
{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(180deg, #833ab4, #fd1d1d, #fcb045);
}

.m
{
    font-size: 50px;
}

.card-header
{
    font-size: 20px;
    font-weight: 900;
    background: #28e713 !important;
    padding: 25px 9 !important;
}
.card-body
{
    padding: 30px 0 !important;
}
.card-body li
{
    margin:10px 0;
    color: black;
}

.card-footer
{
    background: #5614b0!important;
    padding: 40px !important;
}
.card-footer a
{
    font-weight: 700;
    border: 2px solid #1f1c18;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #00dbde;
}
.card-footer a:hover
{
    color:  black;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 15px 3px#39ff64;

}
.card
{
    transition:  0.5s ease;
}
.card:hover
{
    transform: translateY(-30px);
    box-shadow: 0 3px 20px 8px  #2a0845;
}
.card:hover .card-header, .card:hover .money
{
    color: black;
}
/* <!----------------------------- Our Customer feedback -----------------------------> */
.client
{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background: linear-gradient(150deg, #833ab4, #fd1d1d 50%, #f4d03f,#fcb045,#26a0da 80%);
}

.box
{
    text-align: center;
    border: 3px solid yellow;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 50px;
    transition: 0.3s ease;
}
.box a{
    position: relative;
}
.box a img
{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    

}
.mid
{
    margin: 0 0 0 90px;
}
.box:hover
{

    background: linear-gradient(to left, #870000, #190a05);
}
.box:hover p
{
    color: white;
}
.carousel-indicators
{

    bottom: -60px !important;
}
.carousel-indicators li
{
    background-color: black!important;
}
.box h1
{
    font-size: 20px;
    color: rgba(255, 0, 195, 0.671);
    margin-bottom: 10px;
}
.box h2
{
    font-size: 25px;
    font-weight: 900;
    color:orangered;
    margin-bottom: 20px;
}

/************************************* ContactUS */
.contactus
{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
    position: relative;
}
.contactus:before
{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(330deg, #003973,#870000, #cc95c0 55%, #dbd4b4 0%);
    z-index: -1;
}
.button button
{
    border: 2px solid #870000;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #870000;
    background: transparent;
}
form:hover .button button
{
    background: black;
    color: black;
    box-shadow: 0 0 30px  5px black;
    border-radius: 50px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}
.middle
{
    text-align: center;
}

::placeholder
{
    font-size: 20px;
    text-align: center;
}
.edi
{
    border: 3px solid#b29f94;
    
}
/******************************** footer */
.made
{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    background-color: whitesmoke;
    padding-left: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 1px black;
}

/*********************************************** Animation **************************************/
.animation
{
    width: 100%;
    height: 250vh;
    background:linear-gradient(to left, #870000, #190a05);
}

.animation h1
{
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.animated
{
    margin-top: 30px;
}

.edd
{

    height: 95vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(50% -50%);
    background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_03_2G7A7696-Modifica.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 9s infinite linear;

}

@keyframes slider
{
    20%
    {
        background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_01_IMG_2226.jpeg);
    }
    40%
    {
        background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_01_IMG_3195.jpg);
    }
    60%
    {
        background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_03_604A0553-Modifica-Modifica.jpg);
    }
    80%
    {
        background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_03_DJI_0524-Pano-Modifica.jpg);
    }
    95%
    {
        background-image: url(images/https___www.lifeofpix.com_wp-content_uploads_2020_03_DSC01226.jpg);
    }

}
.bor
{
    margin-top: 10px;

    height: 135vh;
    width: 100%;
}
.fir
{
    margin-top: 20px;
    float: left;

    height: 450px;
    width: 250px;
    background-image: url(https://source.unsplash.com/user/erondu/1600x900);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    border-radius: 30px;
}
.seo
{
    margin-top: 530px;

    height: 450px;
    background-image: url(https://source.unsplash.com/collection/190727/1600x900);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    border-radius: 30px;

}
/******************************* MEDIA QUERIES ***********************************/

@media (max-width:576px){
    .nav-item
    {
        text-align: center!important;
    }
    .pricing 
    {
        height: auto;
        margin-top: 50px;
    }
    .header-sec
    {
        margin-top: 20px;
    }
    .card-second
    {
        transform: translateY(0px);
        margin: 70px 0;
    }
    .client
    {
        height: auto;
        margin-top: 50px;
    }
    .animation
    {
        height: auto;
        margin-top: 100px;
    }
    .contactus
    {
        height: auto;
        margin-top: 200px;
    }
}


@media (max-width:768px){
    .nav-item
    {
        text-align: center!important;
    }
    .pricing 
    {
        height: auto;
        margin-top: 50px;
    }
    .header-sec
    {
        margin-top: 20px;
    }
    .card-second
    {
        transform: translateY(0px);
        margin: 70px 0;
    }
    .client
    {
        height: auto;
        margin-top: 50px;
    }
    .animation
    {
        height: auto;
        margin-top: 100px;
    }
    .contactus
    {
        height: auto;
        margin-top: 200px;
    }
}


@media (max-width:992px){
    .nav-item
    {
        text-align: center!important;
    }
    .pricing 
    {
        height: auto;
        margin-top: 50px;
    }
    .header-sec
    {
        margin-top: 20px;
    }
    .card-second
    {
        transform: translateY(0px);
        margin: 70px 0;
    }
    .client
    {
        height:auto;
        margin-top: 50px;
    }
    .animation
    {
        height: auto;
        margin-top: 100px;
    }
    .contactus
    {
        height: auto;
        margin-top: 200px;
    }

}
@media (max-width:1200px)
{
    .client 
    {
        height:auto;
        margin-top: 50px;
    }
    .animation
    {
        height: auto;
        margin-top: 100px;
    }
    .contactus
    {
        height: auto;
        margin-top: 200px;
    }
}